@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../font/Noto_Sans_KR/NotoSansKR-Thin.woff") format("woff"),
    url("../font/Noto_Sans_KR/NotoSansKR-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/Noto_Sans_KR/NotoSansKR-Light.woff") format("woff"),
    url("../font/Noto_Sans_KR/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.woff") format("woff"),
    url("../font/Noto_Sans_KR/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("woff"),
    url("../font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.woff") format("woff"),
    url("../font/Noto_Sans_KR/NotoSansKR-Bold.woff2") format("woff2");
}
:root {
  /* Colors: */
  --unnamed-color-2E3542: #2e3542;
  --unnamed-color-fffb6c: #fffb6c;
  --unnamed-color-3372ff: #3372ff;
  --unnamed-color-9f9f9f: #9f9f9f;
  --unnamed-color-c08ffc: #c08ffc;
  --unnamed-color-ffc468: #ffc468;
  --unnamed-color-ffb3b3: #ffb3b3;
  --unnamed-color-aedd4f: #aedd4f;
  --unnamed-color-77c3ff: #77c3ff;
  --unnamed-color-a6f0f2: #a6f0f2;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-ffffff14: #ffffff;
}
a:link,
a:active,
a:after {
  text-decoration: none;
}
.hidden {
  display: none;
}
.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.ellipsis-one {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.flex-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
.no-margin {
  margin: 0 !important;
}
/* tyDidP style start */
#tyDidP01 > .wrapper,
#tyDidP02 > .wrapper {
  width: 100%;
  height: 100%;
}
#tyDidP01 > .wrapper > .content-wrap,
#tyDidP02 > .wrapper > .content-wrap {
  max-width: 1080px;
  min-width: 1080px;
  width: 1080px !important;
  max-height: 1920px;
  min-height: 1920px;
  height: 1920px !important;
  overflow: hidden;
}
#tyDidP01 > .wrapper.flex-container,
#tyDidP02 > .wrapper.flex-container {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#tyDidP01 > .wrapper > .content-wrap div,
#tyDidP02 > .wrapper > .content-wrap div {
  box-sizing: border-box;
}
#didTitle {
  height: 286px;
  padding: 54px 80px;
}
#didTitle > h1 {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  color: var(--unnamed-color-3372ff);
  letter-spacing: 0px;
}
#didMap {
  height: 704px;
  position: relative;
  background-color: #3372ff;
}
#didMap .current-location {
  position: absolute;
  width: 75px;
  height: 53px;
}
#didMap .legend {
  position: absolute;
  bottom: 12px;
  right: 80px;
  width: 513px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}
#didMap .legend .item {
  position: relative;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #333333;
  padding-left: 16px;
}
#didMap .legend .item::after {
  content: "";
  width: 10px;
  height: 10px;
  /* UI Properties */
  background: var(--unnamed-color-a6f0f2) 0% 0% no-repeat padding-box;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
}
#didMap .legend .item.type-01::after {
  background: var(--unnamed-color-a6f0f2) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-02::after {
  background: var(--unnamed-color-77c3ff) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-03::after {
  background: var(--unnamed-color-aedd4f) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-04::after {
  background: var(--unnamed-color-ffb3b3) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-05::after {
  background: var(--unnamed-color-ffc468) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-06::after {
  background: var(--unnamed-color-fffb6c) 0% 0% no-repeat padding-box;
}
#didMap .legend .item.type-07::after {
  background: var(--unnamed-color-c08ffc) 0% 0% no-repeat padding-box;
}
#didMap #weather {
  position: absolute;
  top: 38px;
  left: 18px;
  width: 125px;
  height: 359px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 30px;
  padding: 0 14px;
}
#didMap #weather .wrapper {
  height: 50%;
}
#didMap #weather .wrapper.top {
  border-bottom: 1px solid #bdbdbd;
}
#didMap #weather .wrapper .title {
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #333333;
  text-align: center;
  padding: 20px 0;
}
#didMap #weather .wrapper .content {
  height: 42px;
}
#didMap #weather .wrapper .content.sky {
  margin-bottom: 10px;
}
#didMap #weather .wrapper .content .icon {
  width: 42px;
  height: 42px;
}
#didMap #weather .wrapper .content .text {
  width: calc(100% - 42px);
  text-align: center;
}
#didMap #weather .wrapper .content .text .top {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
}
#didMap #weather .wrapper .content.air .text .top {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
}
#didMap #weather .wrapper .content .text .bottom {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #333333;
}
#didNews {
  height: 100px;
  background: #2e3542 0% 0% no-repeat padding-box;
  justify-content: center;
  align-items: center;
}
#didNews > div {
  height: 48px;
  line-height: 48px;
}
#didNews > div.title {
  background-color: #fff;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  letter-spacing: 0.78px;
  color: #333333;
  margin: 0 30px;
}
#didNews > div.text {
  position: relative;
  color: var(--unnamed-color-ffffff);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  overflow: hidden;
  width: calc(100% - 160px);
}
#didNews > div.text > p {
  position: absolute;
  width: max-content;
}
#didList {
  flex-wrap: wrap;
  align-items: flex-start;
  height: 830px;
}
#filterGroup {
  height: 90px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 110px;
}
#filterGroup .item.active {
  background: var(--unnamed-color-3372ff) 0% 0% no-repeat padding-box;
  color: var(--unnamed-color-ffffff);
}
#filterGroup .item:hover {
  background: var(--unnamed-color-3372ff) 0% 0% no-repeat padding-box;
  color: var(--unnamed-color-ffffff);
}
#filterGroup .item:active {
  box-shadow: inset 0px 3px 6px rgb(161, 161, 161, .3);
}
#filterGroup .item {
  padding: 0 24px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 27px;
  height: 46px;
  color: var(--unnamed-color-3372ff);
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0px;
  cursor: pointer;
  transition: background 0.15s;
}
#filterIndex .item:hover {
  background: var(--unnamed-color-3372ff) 0% 0% no-repeat padding-box;
  color: var(--unnamed-color-ffffff);
}
#filterIndex .item:active {
  box-shadow: inset 0px 3px 6px rgb(161, 161, 161, .3);
}
#filterIndex .item {
  height: 36px;
  color: var(--unnamed-color-3372ff);
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 0 10px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid #d3dbed;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.15s;
}
#filterIndex .item:nth-child(1) {
  padding: 0 20px;
}
#filterIndex .item.active {
  background: var(--unnamed-color-3372ff) 0% 0% no-repeat padding-box;
  color: var(--unnamed-color-ffffff);
}
#filterIndex {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 920px;
  height: 66px;
  background: #e4edff 0% 0% no-repeat padding-box;
  padding: 0 40px;
}
#resultList {
  height: calc(100% - 156px);
  width: 920px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}
#resultList .list {
  padding-top: 40px;
  height: calc(100% - 132px);
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}
#resultList .list .item {
  width: 25%;
  height: 32px;
  line-height: 32px;
  padding: 5px;
  word-break: keep-all;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.15s;
}
#resultList .list .item:active {
  box-shadow: inset 0px 3px 6px rgb(161, 161, 161, .3);
}
#resultList .list .item:hover {
  background: #e4edff 0% 0% no-repeat;
}
#resultList .list .item.active {
  background: #e4edff 0% 0% no-repeat;
}
#resultList .list .item .area {
  width: 51px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  /* UI Properties */
  background: var(--unnamed-color-a6f0f2) 0% 0% no-repeat;
  padding: 3px;
}
#resultList .list .item .area .group {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #333333;
  width: 15px;
  height: 15px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat;
  border-radius: 100%;
  text-align: center;
}
#resultList .list .item .area .number {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #333333;
  height: 15px;
  width: calc(100% - 15px);
}
#resultList .list .item .shop-name {
  text-align: left;
  padding: 0 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #000333;
  width: calc(100% - 51px);
}
#resultList .list .type {
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  padding: 0 10px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat;
  border: 1px solid var(--unnamed-color-3372ff);
  border-radius: 5px;
  color: var(--unnamed-color-3372ff);
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0px;
  margin: 20px 204px 20px 10px;
}
#resultList .paging {
  height: 132px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#resultList .paging .page:active {
  box-shadow: inset 0px 3px 6px rgb(161, 161, 161, .3);
}
#resultList .paging .page {
  width: 10px;
  height: 10px;
  /* UI Properties */
  background: #c1cbe3 0% 0% no-repeat;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 12px;
}
#resultList .paging .btn {
  width: 32px;
  height: 32px;
  background: #e4edff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
#resultList .paging .btn:active {
  box-shadow: inset 0px 3px 6px rgb(161, 161, 161, .3);
}
#resultList .paging .btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../img/btn/arrow_l.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#resultList .paging .before::before {
  transform: rotate(90deg);
}
#resultList .paging .before {
  margin-right: 20px;
}
#resultList .paging .next::before {
  transform: rotate(-90deg);
}
#resultList .paging .next {
  margin-left: 20px;
}
#resultList .paging .page.active {
  background: var(--unnamed-color-3372ff) 0% 0% no-repeat;
  border: 4px solid #b6c9ff;
  box-sizing: content-box;
}

/* tyDidP style end */

/* tyDidL style start */
.ty_did_l > .wrapper {
  width: 100%;
  height: 100%;
}
.ty_did_l > .wrapper > .content-wrap {
  max-width: 1920px;
  min-width: 1920px;
  width: 1920px;
  max-height: 1080px;
  min-height: 1080px;
  height: 1080px;
  position: relative;
  background: #0C4BD8 0% 0% no-repeat padding-box;
}
.ty_did_l #weather {
  position: absolute;
  top: 67px;
  left: 43px;
  width: 288px;
  height: 827px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 31px;
  padding: 0 36px;
  box-sizing: border-box;
}
.ty_did_l #weather .wrapper {
  height: 50%;
}
.ty_did_l #weather .wrapper.top {
  border-bottom: 1px solid #bdbdbd;
}
.ty_did_l #weather .wrapper .title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0px;
  color: #333333;
  text-align: center;
  padding: 46px 0;
  height: 54px;
}
.ty_did_l #weather .wrapper .content {
  height: 97px;
  align-items: center;
}
.ty_did_l #weather .wrapper .content.sky {
  margin-bottom: 30px;
}
.ty_did_l #weather .wrapper .content .icon {
  width: 97px;
  height: 97px;
}
.ty_did_l #weather .wrapper .content .icon img {
  width: 100%;
}
.ty_did_l #weather .wrapper .content .text {
  width: calc(100% - 97px);
  text-align: center;
}
.ty_did_l #weather .wrapper .content .text .top {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0px;
  color: #333333;
}
.ty_did_l #weather .wrapper .content.air .text .top {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  color: #333333;
}
.ty_did_l #weather .wrapper .content .text .bottom {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0px;
  color: #333333;
}
.ty_did_l .ty-title {
  position: absolute;
  top: 67px;
  left: 412px;
}
.ty_did_l .ty-title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ty_did_l .ty-title h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 74px;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 46px;
}
.ty_did_l .ty-title span {
  padding: 0 46px;
}
.ty_did_l .swiper {
  width: 1366px;
  border-radius: 25px;
  position: absolute;
  right: 104px;
  bottom: 186px;
}
.ty_did_l .swiper-slide {
  width: 633px !important;
  height: 672px;
}
.ty_did_l .ty-item {
  /* position: absolute; */
  /* top: 214px; */
  /* left: 461px; */
  width: 633px;
  height: 672px;
  background: rgba(255, 255, 255, 0.22) 0% 0% no-repeat padding-box;
  border-radius: 25px;
}
.ty_did_l .ty-item.market-price {
  position: absolute;
  top: 287px;
  left: 412px;
  width: 1417px;
  height: 589px;
  background: rgba(255, 255, 255, 0.22) 0% 0% no-repeat padding-box;
  border-radius: 25px;
}
.ty_did_l .ty-item.second {
  left: auto;
  right: 115px;
}
.ty_did_l .ty-item .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.ty_did_l .ty-item .wrapper .shop-name {
  position: absolute;
  top: 40px;
  left: 60px;
  width: auto;
  height: 77px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 47px;
  padding: 0 40px;
  color: var(--unnamed-color-3372ff);
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 77px;
  letter-spacing: 0px;
  color: #3372ff;
}
.ty_did_l .ty-item.market-price .wrapper .shop-name {
  position: absolute;
  top: -68px;
  left: 100px;
  height: 135px;
  min-width: 342px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 68px;
  padding: 0 40px;
  text-align: center;
  color: #0c4bd8;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 135px;
  letter-spacing: 3.8px;
  box-sizing: border-box;
}
.ty_did_l .ty-item .wrapper .item-name {
  position: absolute;
  top: 136px;
  left: 62px;
  width: 522px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ty_did_l.price_page .ty-item .wrapper .item-name {
  top:340px;
  width:520px;
  text-align: center;
  font-size: 90px;
  line-height: normal;
}
.ty_did_l .ty-item.market-price .wrapper .thumbnail-wrapper {
  position: absolute;
  left: 80px;
  bottom: 60px;
  width: 417px;
  height: 390px;
}
.ty_did_l .ty-item.market-price .wrapper .thumbnail-wrapper .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ty_did_l .ty-item.market-price .wrapper .price-list {
  width: 820px;
  height: 390px;
  position: absolute;
  top: 140px;
  right: 53px;
}
.ty_did_l .ty-item.market-price .wrapper .price-list .list {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ty_did_l .ty-item.market-price .wrapper .price-list .list .weight {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 96px;
  letter-spacing: 0px;
  color: #ffffff;
  flex-grow: 1;
}
.ty_did_l .ty-item.market-price .wrapper .price-list .list .type {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 96px;
  letter-spacing: 0px;
  color: #a3b9ea;
  flex-grow: 1;
}
.ty_did_l .ty-item.market-price .wrapper .price-list .list .price {
  text-align: right;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 96px;
  letter-spacing: 0px;
  color: #ffffff;
  flex-grow: 1;
}
.ty_did_l .ty-item .wrapper .start-title {
  position: absolute;
  top: 255px;
  left: 67px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ty_did_l.price_page .ty-item .wrapper .start-title {
  top:20px;
  left:50%;
}
.ty_did_l .ty-item .wrapper .start-price {
  position: absolute;
  top: 236px;
  right: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0px;
  color: #ffffff;
  max-width: 520px;
  box-sizing: border-box;
}
.ty_did_l.price_page .ty-item .wrapper .start-price {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 65px;
  padding: 0 60px;
  color: var(--unnamed-color-3372ff);
  font-size:72px;
  line-height:130px;
  right:auto;
  left:50%;
  transform: translate(-50%, 0);
  width: auto;
  top:auto;
  bottom:40px;
  white-space: nowrap;
  font-weight: 700;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper {
  position: absolute;
  bottom: 62px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 520px;
  height: 269px;
  background: rgba(0, 0, 0, 0.4) 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.ty_did_l.price_page .ty-item .wrapper .thumbnail-wrapper {
  bottom:auto;
  top:52px;
  height:280px;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content .img-cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content img {
  position: absolute;
  width: 100%;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content .date {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 250px;
  position: absolute;
  top: 80px;
  left: 80px;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content .time {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 250px;
  position: absolute;
  top: 158px;
  left: 80px;
}
.ty_did_l .ty-item .wrapper .thumbnail-wrapper .content .week {
  text-align: center;
  width: 123px;
  height: 123px;
  /* UI Properties */
  background: #ff5d55 0% 0% no-repeat padding-box;
  border-radius: 100%;
  position: absolute;
  top: 80px;
  right: 28px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 123px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ty_did_l .ty-news {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1920px;
  height: 143px;
  background: #2e3542 0% 0% no-repeat padding-box;
}
.ty_did_l .ty-news .wrapper.left {
  position: relative;
  width: 279px;
  height: 100%;
}
.ty_did_l .ty-news .wrapper.right {
  position: relative;
  width: calc(100% - 279px);
  height: 100%;
  overflow: hidden;
}
.ty_did_l .ty-news .wrapper .notice {
  position: absolute;
  bottom: 23px;
  left: 43px;
  width: 195px;
  height: 94px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 40px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 94px;
  letter-spacing: 1.5px;
  color: #383838;
}
.ty_did_l .ty-news .wrapper .text {
  position: absolute;
  left: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 62px;
  line-height: 143px;
  color: #fff;
  letter-spacing: 0px;
  white-space: nowrap;
  width: fit-content;
}

/* 흐르는 텍스트 */
.marquee {
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
}

.marquee p:after {
  content: "";
  white-space: nowrap;
  padding-right: 50px;
}

.marquee p {
  margin: 0;
  padding-left: 100%;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation-name: marquee;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: marquee;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: marquee;
  -ms-animation-timing-function: linear;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: marquee;
  -o-animation-timing-function: linear;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0%);
  }
  99%,
  to {
    -webkit-transform: translate(-100%);
  }
}
@-moz-keyframes marquee {
  from {
    -moz-transform: translate(0%);
  }
  99%,
  to {
    -moz-transform: translate(-100%);
  }
}
@-ms-keyframes marquee {
  from {
    -ms-transform: translate(0%);
  }
  99%,
  to {
    -ms-transform: translate(-100%);
  }
}
@-o-keyframes marquee {
  from {
    -o-transform: translate(0%);
  }
  99%,
  to {
    -o-transform: translate(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translate(0%);
  }
  99%,
  to {
    transform: translate(-100%);
  }
}

.shop-info {
  width: 192px;
  height: 60px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.shop-info .icon {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
}
.shop-info .info-wrap {
  width: calc(100% - 38px);
  flex-wrap: wrap;
}
.shop-info .info-wrap .title {
  width: 100%;
}
.shop-info .info-wrap .info {
  color: var(--unnamed-color-9f9f9f);
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
}
.shop-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0px;
  height: 0px;
  border-top: 14px solid var(--unnamed-color-ffffff);
  border-bottom: 14px solid none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  /* display: none; */
}
.js-shop-popup .shop-info.right-align::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  transform: rotate(-90deg);
  left: auto;
  right: -14px;
  width: 0px;
  height: 0px;
  border-top: 14px solid var(--unnamed-color-ffffff);
  border-bottom: 14px solid none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  /* display: none; */
}
.js-shop-popup .shop-info.top-align::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -7px;
  width: 0px;
  height: 0px;
  border-top: 14px solid var(--unnamed-color-ffffff);
  border-bottom: 14px solid none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(180deg);
  /* display: none; */
}
.js-shop-popup {
  position: absolute;
  top: -100%;
  left: 0;
  justify-content: center;
  align-items: center;
}
/* map animation */
path.active {
  animation-name: active-shop;
  animation-duration: 2s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes active-shop {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    /* transform:scale(1.3); */
  }
}
/* tyDidL style end */

/* 시스템 점검 중 */
.under_construction{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color:rgba(0,0,0, .8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 111;
  color:#ffffff;
  font-size: 70px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
.ytp-hide-controls:not(.ytp-mweb-player) .ytp-watermark{
  display:none;
}
.auction_ready{
  top: 214px;
  left: 412px;
  width: 1393px;
  height: 672px;
  background: #FFFFFF26 0% 0% no-repeat padding-box;
  border-radius: 25px;
  position: absolute;
  background-image: url('../img/auction.svg');
  background-position: center 90%;
  background-repeat: no-repeat;
}
.auction_ready .text{
  top: 287px;
  left: 545px;
  width: 1128px;
  height: 107px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size:72px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  width: 100%;
}